body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #1e1b4b, #0f172a);
}

.login-container {
    width: 350px;
    padding: 40px;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
}

.login-container select {
    margin: 20px 0;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.login-container h1 {
    background: linear-gradient(to right, #fff, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.login-container p {
    color: #94a3b8;
    margin-top: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}